body{
  margin:0;
  font-family: 'Russo One', sans-serif;
  color: rgb(190,190,190);
}

#oscilloscope {
  position:fixed;
  top:0;
  left:0;
  pointer-events: none;
  z-index:-1;
}

#global-ctrl {
  margin-top: 1rem;
  width:46.21rem;
}

.module, .global-module {
  padding: .5rem;
  background-color: rgba(60,60,60,0.95);
  border: 2px solid rgba(190,190,190,0.9);
  border-radius: 10px;
}

.module-label {
  font-size: x-large;
  text-align: center;
}
.nav {
  position: absolute;
  bottom: 10px;
}
.nav-inactive {
  height:1.5rem;
  padding-top:0.3rem;
  padding-left:0.2rem;
  padding-right:0.2rem;
  margin-bottom: 0.2rem;
  text-align:center;
  background-color: rgba(60,60,60,0.95);
  border-style: solid solid solid solid; 
  border-radius: 10px;
  border-width: 2px;
  opacity: 0.7;
  border-color: rgba(190,190,190,0.9);
}
.nav-active {
  height:1.5rem;
  padding-top:0.3rem;
  padding-left:0.2rem;
  padding-right:0.2rem;
  margin-bottom: 0.2rem;
  text-align:center;
  background-color: rgba(60,60,60,0.95);
  border-style: solid solid solid solid; 
  border-width: 2px;
  border-radius: 10px;
  opacity: 0.95;
  border-color: rgba(168, 154, 83, 0.8);
}


    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
    .flex {
      display: flex;
    }
    .flex-center {
      display: flex;
      justify-content: center;
    }
    .flex-even {
      display: flex;
      justify-content: space-evenly;
    }
    .flex-around {
      display: flex;
      justify-content:space-around;
    }
    .align-center { 
      align-content: center; 
    }
    .center {
      text-align: center;
    }
    .ml {
      margin-left: 0.5rem;
    }


#fx {
  max-width: 1180px;
  margin-left: auto;

}

#reverb {
  width: 67vw;
  max-width: 30rem;
  min-width:25rem;
}
  #verb-sends {
    border: 1px solid rgba(190,190,190,0.9);
    border-radius: 50px;
    height: fit-content;
    padding: .25rem;
    width:45%;
  }
  #verb-eq {
    width:30%;
  }
  #verb-decay {
    width:15%;
  }

#compressor {
  width: 33vw;
  max-width: 462px;
  min-width:20rem;
}

#reverb div, #compressor div {
  text-align:center;
}


.container {
  width: 100vw;
  max-width: 100vw;
  min-width: max-content;
  display: flex;
  justify-content: space-evenly;
}

.channel {
  max-width: 25vw;
  min-width: 170px;
  min-height: calc(100% - 500px);
}
  .channel > div {
    margin-left: auto;
    margin-right: auto;
  }

.channel-label {
  font-size: large;
  text-align: center;   
}




.pattern-overlay {
  position:absolute; 
  pointer-events: none;
}

.absolute {position:absolute;}

.one {fill:rgba(255,255,0,0.2);stroke-width:2;stroke:rgb(30,30,30);}
.two {fill:rgba(0,255,0,0.1);stroke-width:2;stroke:rgb(30,30,30);}
.three {fill:rgba(34, 100, 100, 0.8);stroke-width:2;stroke:rgb(30,30,30);}







.patt-container {
  width: 130px;
}

.random-label {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.left-text {
  margin-bottom: .5rem;
  margin-left: .5rem;
}
.left-label {
  padding-left: .52rem;
}
.right-label {
  text-align: right; 
  margin-top:0.3rem;
  margin-bottom:0.5rem;
  padding-right:.52rem;
}



.env-display {
  pointer-events: none; 
  margin-left:22px;
  margin-right:22.5px; 
  border:2px solid rgba(30,30,30,0.8);
}
.env-label {
  margin-top: .2rem;
}

.snare-buttons {
  margin-top: .7rem;
  margin-bottom: .65rem;
}

input {
  width: 2rem;
  background-color: rgb(190,190,190);
  border-color: transparent;
  text-align: center;
}

.step-control {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: smaller
}
.first-row {
  margin-bottom: 0.1rem;
}

.smaller {
  font-size:smaller;
}

.divider {
  margin-left: -0.5rem;margin-right: -0.5rem; width:186px; height:8px
}
.divider path {
  fill: rgba(190,190,190,0.9);
  fill-opacity: 1;
}
.flipped {
  transform: rotate(180deg)scale(-1,1)translate(0px,-29px);
  transform-origin: 50% 50%;
}
.first-divider {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.second-divider {
  margin-top: 0.7rem;
  margin-bottom: 0.1rem;
}
.third-divider {
  margin-top: 0.7rem;
}

.sm-show {
  display:none
}

/*
@media screen and (max-device-width: 768px) {
  .channel {
    max-width: 170px;
  }
  #reverb {
    max-width: 50vw;
  }
}
*/
@media screen and (max-device-width: 415px) {
  .md-hide {
    display:none;
  }
  #global-controls {
    display:flex;
  }
  .container {
    width: 415px;
    flex-wrap: wrap;
    min-width: auto;
  }
  #global-ctrl {
    width: 410px;
  }
  .channel {
    max-width: 170px;
    min-height: calc(100% - 500px);
    margin-bottom: 1rem;
  }
  #fx {
    display:block;
  }
  #reverb {
    max-width: 390px;
    min-width: 390px;
  }

}

@media screen and (max-device-width: 375px) {
  .sm-hide {
    display:none;
  }
  #global-ctrl {
    width: 300px;
  }
  #reverb {
    max-width: 300px;
    min-width: 300px;
  }
  #verb-sends {
    width: 100%;
  }
  #verb-eq{
    width: 50%
  }
  #verb-decay {
    width:25%;
  }
  #reverb-container {
    flex-wrap: wrap;
  }
  .sm-show {
    display:block
  }
}

/* tiny phones in regular orientation */
@media only screen and (max-width: 320px) {
  .tiny-hide {
    display:none;
  }
  #compressor {
    width:300px;
    min-width:300px;
  }
 }

/*
#guide {
  border: 1px solid red;
  width: 375px;
  height: 812px;
  position:absolute;
  top:0;
  left:0;
}*/