.AttackDecay {
  flex-basis: 125px;
}

.AttackDecay .controlWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AttackDecay label {
  font-size: small;
}

.AttackDecay .noClick {
  border: 1px solid rgba(10,10,10,0.7);
  width: 55px; height: 55px;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


@media only screen and (max-width: 690px) {
  .AttackDecay {
    flex-basis: auto;
  }
}