.HatsControl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /*border: 2px solid black;*/
}

.HatsControl label {
  font-size: small;
}