.Power {
  flex-basis: 15%;
  display: flex;
  flex-flow: column nowrap; 
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  border: 2px solid rgba(255,255,0,0.25);
  border-radius: 10% 6% 10% 6%;
  min-height: 91px;
  width: 30%;
  background-color: rgba(60,60,60,0.95);
  padding: 0.25rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 0.5rem rgba(20, 20, 20, 0.9))
}


.Power .wrap {
  flex-basis: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  row-gap: 0.5rem;
}

@media only screen and (max-width: 450px) {
  .Power {
    width: 50%;
    flex-basis: 50%
  }
}